:root{
    --rowNum: 16;
    --colNum: 16;
}

.js-grid-item{
    border: 1px solid black;
}

.grid-container{
    margin: 50px;
    border: solid 2px black;
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-rows: repeat(var(--rowNum), 1fr);
    grid-template-columns: repeat(var(--colNum), 1fr); 
}

.js-grid-item--fill-black{
    background-color: black;
}
